* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: skyblue; /* Set the background color of the whole page */
  font-family: Arial, sans-serif; /* Add a default font family */
}

.progress-bar {
  width: 100%;
  height: 20px;
  background: #f0f0f0;
  margin-bottom: 20px;
  position: relative;
}

.progress {
  height: 100%;
  position: absolute;
}

.progress.in-progress {
  background: #ffa500;
  z-index: 1;
}

.progress.completed {
  background: #4caf50;
  z-index: 0;
}

.progress.overdue-todo {
  background: #ff0000;
  z-index: 2;
}

.progress.overdue-inprogress {
  background: #ff0000;
  z-index: 2;
}

.app {
  display: grid;
  grid-template-rows: 150px auto;
  background-color: skyblue; /* Change background color */
}

.app_header {
  background-color: #4D4DFF; /* Keep header background color */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.task_column {
  width: 33.33%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fffee0; /* Set background color */
  border-radius: 5px;
  border: 2px solid #ccc; /* Add border to each container */
}

.task_column_header {
  background-color: #9c6f44; /* Keep the background color */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks_container {
  padding: 10px;
}

.todo_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* Add margin between tasks */
}

.todo_item p {
  margin: 0;
  font-size: 18px; /* Increase the font size of tasks */
}

.deadline_text {
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Font size for deadlines */
}

.todo_item_buttons {
  display: flex;
  justify-content: center;
}

.todo_item_buttons button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
